<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.sample.service.impl.ReviewMapper">
	
	<insert id="insertOne" parameterType="ReviewVO">
		insert into review values(review_seq.nextval, default,#{rev_title},#{rev_content},#{m_id},#{c_num})
	</insert>
	
	<insert id="saveFile">
		insert into review_file values((select max(rev_num) from review),#{oname},#{fname})
	</insert>
	
	<select id="selectPages" resultType="ReviewVO">
		select * from(select sub.*, rownum as rnum from(select * from revNco) sub) where rnum between #{startNo} and #{endNo}
	</select>
	
	<select id="fOriginalList" resultType="String">
		select rev_oName from review_file where rev_num=#{rno}
	</select>
	
	<select id="fConvertedList" resultType="String">
		select rev_cName from review_file where rev_num=#{rno}
	</select>
	
	<select id="selectList" parameterType="String" resultType="CourseVO">
		select * from mycoNco where m_id=#{id}
	</select>
	
	<select id="totalCnt" resultType="Integer">
		select count(*) from review
	</select>
	
	<select id="selectOne" resultType="ReviewVO">
		select * from revNco where rev_num=#{rno}
	</select>
	
	<delete id="deleteOne" parameterType="String">
		delete from review where rev_num=#{rno}
	</delete>
	
	<update id="updateOne">
		update review set rev_title=#{rev_title},rev_content=#{rev_content} 
		where rev_num=#{rev_num}
	</update>

	<select id="selectThree" resultType="ReviewVO">
		select * from(select * from review order by rev_date desc) where rownum between 1 and 3
	</select>
</mapper>